* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    color: #333;
    background-image: url('images/background.jpg');
        background-attachment: fixed; /* Keeps the background image fixed in place */
        background-size: cover; /* Makes the image cover the entire viewport */
        background-repeat: no-repeat; /* Prevents the background from repeating */
        background-position: center; /* Centers the image */
  
}

header {
    background-color:#333;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    display:block;
    align-items: center;
    
}

.logo {
    font-size: 30px;
    font-weight: bold;
    color:#ff6347;
}
nav{
    display: flex;
    width:100%;
    gap:50px;
    justify-content: space-between;
}

.nav-links {
    list-style: none;
    display: flex;
    
    gap:28px;
    width: 100%;
}

.nav-links li {
    transition: all 0.3s ease;
}

.nav-links a {
    color:white;
    text-decoration: none;
}

.nav-links a:hover {
    color: #ff6347;
}

.hero-section {
    color: #fff;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero-section a {
    color:white;
    text-decoration: none;
}

.hero-section button {
    padding: 10px 20px;
    border: none;
    background-color: #ff6347;
    color: #fff;
    border-color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius:7px;
    
}

.hero-section button:hover {
    background-color:white;
    color:#ff6347;
    border-color:#ff6347;
    transform: scale(1.1);
    box-shadow: #333;
}
.hero-section a:hover{
    color:#ff6347;
}

.products-section {
    padding: 50px 20px;
    text-align: center;
}
.products-section h2{
    color:white;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.product-card {
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    padding:10px;
    height:400px;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    width: 150px;          
    height: auto;            
    border-radius: 4px; 
    object-fit: cover;
}

.product-card h3 {
    padding: 15px;
}
.product-card p {
    font-size: 16px;
    color: #666;
}

.product-card button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color:#ff6347;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 3px;
}

.product-card button:hover {
    background-color: #e63216;
    transform: scale(1.02);
}

footer {
    background-color: #333;

    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}